body
{
    margin: 0;
    padding: 0;
     background: url(../image/Banner/cate.jpg);
  background-repeat: no-repeat; /*No se repita*/
  background-size: cover; /*imagen de fondo al 10 de ancho*/
  background-attachment: fixed; /*posicion fija de imagen*/
}
.carousel 
{
    transform: translateY(-150px);
    height: 700px;
    perspective: 600px;

}
.carousel .carousel-item 
{
    width: 400px;
}
.carousel .carousel-item  img  
{
    width: 100%;
}
.carousel .carousel-item  h4
{
    margin: -5px 0 0;
    padding: 0;
    background: silver;
    color:#000; 
    box-sizing: border-box;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background:#444;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb
{
    background: #fff;
    border-radius: 20px;
}
.dos  
{
    background: silver;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 50px;
    letter-spacing: 1px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 25px;
}
.dos:hover
{
   background: #5c6552;
   transition: .5s; 
}
